# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/OS junk
.DS_Store
.idea/
.vscode/

# app data
yak_client_data/
